---
import MenuLayout from "../layouts/MenuLayout.astro";
import Head from "../layouts/Head.astro";
import Top from "../layouts/Top.astro";
import countries from "../data/countries.json";

interface Post {
    url: string;
    frontmatter: {
        code: string;
        [key: string]: any;
    };
}

interface PostData {
    url: string;
    code: string;
    title: string;
    region: string | undefined;
}

const matches = import.meta.glob<Post>("./carte/*.md", { eager: true });
const posts = Object.values(matches);

const ids: string[] = [];
posts.forEach((post: Post) => {
    ids.push(post.frontmatter.code);
});

const matchedCountries = countries.filter((c) => ids.includes(c.alpha2Code));

const data: PostData[] = posts.map((post: Post) => {
    const country = matchedCountries.find(
        (c) => c.alpha2Code === post.frontmatter.code,
    );
    return {
        url: post.url,
        code: post.frontmatter.code,
        title: post.frontmatter.country,
        region: country?.region,
    };
});
---

<html lang="fr">
    <head>
        <Head title="Pays" />
    </head>
    <body>
        <MenuLayout />
        <div class="contentWrapper">
            <Top />
            <div class="browseWrap">
                {
                    data.map((d) => (
                        <a href={d.url}>
                            <div class="articleCard">
                                <div class="leftInfo">
                                    <p>{d.region}</p>
                                </div>
                                <div class="titleWrapper">
                                    <div class="titleInfo">
                                        <svg
                                            class="line0"
                                            width="100%"
                                            height="100%"
                                            viewBox="0 0 400 200"
                                            preserveAspectRatio="none"
                                        >
                                            <text
                                                x="0"
                                                y="0"
                                                font-size="400"
                                                font-weight="900"
                                                font-family="DrukBis"
                                            >
                                                {d.title.toUpperCase()}
                                            </text>
                                        </svg>
                                    </div>
                                </div>
                                <div class="flagInfo"></div>
                            </div>
                        </a>
                    ))
                }
            </div>
        </div>

    </body>
</html>
