---
const { title } = Astro.props;
import "../css/main.css";
---

<title>{title}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" >
<meta charset="utf-8" />
<link rel="icon" type="image/x-icon" href="/star.svg">
    