---
import Head from "../layouts/Head.astro";
const { pays } = Astro.props.frontmatter;
console.log(pays)
---

<html>
    <head>
        <Head title="page"/>
    </head>
    <body>
        <div style="background-color: red;">
        <slot/>
        </div>
    </body>
</html>