---
---



<div class="menu-bg">
            
        <div class="li">
            <h1><a href="/"><span>Accueil</span></a><svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="100%"
                height="100%"
                viewBox="0 0 290 287"
                version="1.1"
                xml:space="preserve"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            >
                <g class="star">
                    <g
                        transform="matrix(1.121505,0,0,1.136694,-2411.88856,-202.202708)"
                    >
                        <path
                            d="M2280.033,182.441L2292.565,263.885L2347.14,202.145L2313.651,277.436L2392.941,255.002L2324.063,300.235L2402.894,324.23L2320.496,325.044L2373.84,387.85L2304.082,343.986L2315.003,425.662L2280.033,351.048L2245.063,425.662L2255.984,343.986L2186.226,387.85L2239.57,325.044L2157.172,324.23L2236.003,300.235L2167.125,255.002L2246.415,277.436L2212.926,202.145L2267.501,263.885L2280.033,182.441Z"
                            style="fill:rgb(0,0,0);"></path>
                    </g></g
                >
                
            </svg></h1>
            <h1><a href="/browse"><span>Articles</span></a><svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="100%"
                height="100%"
                viewBox="0 0 290 287"
                version="1.1"
                xml:space="preserve"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            >
                <g class="star">
                    <g
                        transform="matrix(1.121505,0,0,1.136694,-2411.88856,-202.202708)"
                    >
                        <path
                            d="M2280.033,182.441L2292.565,263.885L2347.14,202.145L2313.651,277.436L2392.941,255.002L2324.063,300.235L2402.894,324.23L2320.496,325.044L2373.84,387.85L2304.082,343.986L2315.003,425.662L2280.033,351.048L2245.063,425.662L2255.984,343.986L2186.226,387.85L2239.57,325.044L2157.172,324.23L2236.003,300.235L2167.125,255.002L2246.415,277.436L2212.926,202.145L2267.501,263.885L2280.033,182.441Z"
                            style="fill:rgb(0,0,0);"></path>
                    </g></g
                >
                
            </svg></h1>
            <h1><a href="/carte"> <span>Carte</span></a><svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="100%"
                height="100%"
                viewBox="0 0 290 287"
                version="1.1"
                xml:space="preserve"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            >
                <g class="star">
                    <g
                        transform="matrix(1.121505,0,0,1.136694,-2411.88856,-202.202708)"
                    >
                        <path
                            d="M2280.033,182.441L2292.565,263.885L2347.14,202.145L2313.651,277.436L2392.941,255.002L2324.063,300.235L2402.894,324.23L2320.496,325.044L2373.84,387.85L2304.082,343.986L2315.003,425.662L2280.033,351.048L2245.063,425.662L2255.984,343.986L2186.226,387.85L2239.57,325.044L2157.172,324.23L2236.003,300.235L2167.125,255.002L2246.415,277.436L2212.926,202.145L2267.501,263.885L2280.033,182.441Z"
                            style="fill:rgb(0,0,0);"></path>
                    </g></g
                >
                
            </svg> </h1>
            <h1> <span>A propos</span><svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="100%"
                height="100%"
                viewBox="0 0 290 287"
                version="1.1"
                xml:space="preserve"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            >
                <g class="star">
                    <g
                        transform="matrix(1.121505,0,0,1.136694,-2411.88856,-202.202708)"
                    >
                        <path
                            d="M2280.033,182.441L2292.565,263.885L2347.14,202.145L2313.651,277.436L2392.941,255.002L2324.063,300.235L2402.894,324.23L2320.496,325.044L2373.84,387.85L2304.082,343.986L2315.003,425.662L2280.033,351.048L2245.063,425.662L2255.984,343.986L2186.226,387.85L2239.57,325.044L2157.172,324.23L2236.003,300.235L2167.125,255.002L2246.415,277.436L2212.926,202.145L2267.501,263.885L2280.033,182.441Z"
                            style="fill:rgb(0,0,0);"></path>
                    </g></g
                >
                
            </svg></h1>
            
            
        </div>
        </div>

        <div class="close">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="100%"
                height="100%"
                viewBox="0 0 290 287"
                version="1.1"
                xml:space="preserve"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            >
                <g class="star">
                    <g
                        transform="matrix(1.121505,0,0,1.136694,-2411.88856,-202.202708)"
                    >
                        <path
                            d="M2280.033,182.441L2292.565,263.885L2347.14,202.145L2313.651,277.436L2392.941,255.002L2324.063,300.235L2402.894,324.23L2320.496,325.044L2373.84,387.85L2304.082,343.986L2315.003,425.662L2280.033,351.048L2245.063,425.662L2255.984,343.986L2186.226,387.85L2239.57,325.044L2157.172,324.23L2236.003,300.235L2167.125,255.002L2246.415,277.436L2212.926,202.145L2267.501,263.885L2280.033,182.441Z"
                            style="fill:rgb(255,245,244);"></path>
                    </g></g
                >
                <g
                    transform="matrix(0.567456,0.567456,-0.567456,0.567456,151.388357,91.62101)"
                >
                    <path
                        d="M38.651,12.472C38.727,11.781 39.31,11.258 40.004,11.258C40.699,11.258 41.282,11.781 41.357,12.472L45.029,46.238L78.795,49.909C79.486,49.984 80.009,50.568 80.009,51.262C80.009,51.957 79.486,52.54 78.795,52.615L45.029,56.287L41.357,90.053C41.282,90.743 40.699,91.267 40.004,91.267C39.31,91.267 38.727,90.743 38.651,90.053L34.98,56.287L1.214,52.615C0.523,52.54 0,51.957 0,51.262C0,50.568 0.523,49.984 1.214,49.909L34.98,46.238L38.651,12.472Z"
                        style="fill:rgb(188,25,25);"></path>
                </g>
            </svg>
        </div>
        <div class="menu">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="100%"
                height="100%"
                viewBox="0 0 290 290"
                version="1.1"
                xml:space="preserve"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            >
                <g class="star">
                    <g
                        transform="matrix(1.121505,0,0,1.136694,-2411.88856,-202.202708)"
                    >
                        <path
                            d="M2280.033,182.441L2292.565,263.885L2347.14,202.145L2313.651,277.436L2392.941,255.002L2324.063,300.235L2402.894,324.23L2320.496,325.044L2373.84,387.85L2304.082,343.986L2315.003,425.662L2280.033,351.048L2245.063,425.662L2255.984,343.986L2186.226,387.85L2239.57,325.044L2157.172,324.23L2236.003,300.235L2167.125,255.002L2246.415,277.436L2212.926,202.145L2267.501,263.885L2280.033,182.441Z"
                            style="fill:rgb(188,25,25);"></path>
                    </g></g
                >
                <g
                    class="me"
                    transform="matrix(1,0,0,1,-2241.362085,10.897947)"
                >
                    <path
                        d="M2364.094,111.833C2364.982,111.809 2365.762,111.905 2366.434,112.121C2367.106,112.337 2367.694,112.637 2368.198,113.021C2368.39,113.165 2368.564,113.333 2368.72,113.525C2368.876,113.717 2369.05,113.909 2369.242,114.101C2369.29,114.149 2369.368,114.215 2369.476,114.299C2369.584,114.383 2369.698,114.401 2369.818,114.353C2370.082,114.281 2370.334,114.107 2370.574,113.831C2370.814,113.555 2371.042,113.345 2371.258,113.201C2371.594,112.937 2371.954,112.715 2372.338,112.535C2372.722,112.355 2373.154,112.181 2373.634,112.013C2373.826,111.965 2374.06,111.923 2374.336,111.887C2374.612,111.851 2374.9,111.827 2375.2,111.815C2375.5,111.803 2375.788,111.809 2376.064,111.833C2376.34,111.857 2376.586,111.893 2376.802,111.941C2376.922,111.965 2377.03,111.977 2377.126,111.977C2377.222,111.977 2377.33,112.001 2377.45,112.049C2377.786,112.145 2378.11,112.241 2378.422,112.337C2378.734,112.433 2379.022,112.565 2379.286,112.733C2380.294,113.357 2381.05,114.269 2381.554,115.469C2381.65,115.685 2381.722,115.907 2381.77,116.135C2381.818,116.363 2381.866,116.585 2381.914,116.801C2381.938,116.969 2381.956,117.125 2381.968,117.269C2381.98,117.413 2381.998,117.557 2382.022,117.701L2382.022,118.061C2382.046,118.205 2382.052,118.373 2382.04,118.565C2382.028,118.757 2382.022,118.937 2382.022,119.105L2382.022,128.213C2382.022,128.405 2382.028,128.627 2382.04,128.879C2382.052,129.131 2382.052,129.371 2382.04,129.599C2382.028,129.827 2381.998,130.043 2381.95,130.247C2381.902,130.451 2381.83,130.589 2381.734,130.661C2381.59,130.781 2381.404,130.847 2381.176,130.859C2380.948,130.871 2380.702,130.877 2380.438,130.877L2378.53,130.877C2378.194,130.877 2377.894,130.853 2377.63,130.805C2377.366,130.757 2377.186,130.625 2377.09,130.409C2377.018,130.241 2376.982,130.055 2376.982,129.851L2376.982,120.869C2376.982,120.749 2376.988,120.617 2377,120.473C2377.012,120.329 2376.994,120.197 2376.946,120.077L2376.946,119.357C2376.946,119.213 2376.934,119.069 2376.91,118.925C2376.886,118.829 2376.874,118.727 2376.874,118.619C2376.874,118.511 2376.862,118.409 2376.838,118.313C2376.742,117.953 2376.64,117.635 2376.532,117.359C2376.424,117.083 2376.262,116.837 2376.046,116.621C2375.71,116.285 2375.302,116.045 2374.822,115.901C2374.726,115.877 2374.642,115.871 2374.57,115.883C2374.498,115.895 2374.414,115.877 2374.318,115.829C2374.222,115.805 2374.108,115.787 2373.976,115.775C2373.844,115.763 2373.718,115.769 2373.598,115.793C2373.454,115.841 2373.31,115.865 2373.166,115.865C2373.022,115.865 2372.878,115.889 2372.734,115.937C2372.038,116.177 2371.534,116.537 2371.222,117.017C2370.814,117.569 2370.568,118.259 2370.484,119.087C2370.4,119.915 2370.358,120.821 2370.358,121.805L2370.358,129.941C2370.358,130.181 2370.298,130.373 2370.178,130.517C2370.058,130.685 2369.884,130.787 2369.656,130.823C2369.428,130.859 2369.17,130.877 2368.882,130.877L2366.938,130.877C2366.722,130.877 2366.512,130.871 2366.308,130.859C2366.104,130.847 2365.93,130.817 2365.786,130.769C2365.546,130.649 2365.408,130.457 2365.372,130.193C2365.336,129.929 2365.318,129.629 2365.318,129.293L2365.318,120.581C2365.318,119.885 2365.294,119.225 2365.246,118.601C2365.198,117.977 2365.042,117.461 2364.778,117.053C2364.586,116.717 2364.34,116.465 2364.04,116.297C2363.74,116.129 2363.374,115.985 2362.942,115.865C2362.846,115.841 2362.75,115.835 2362.654,115.847C2362.558,115.859 2362.45,115.853 2362.33,115.829C2362.066,115.781 2361.814,115.805 2361.574,115.901C2361.526,115.901 2361.478,115.907 2361.43,115.919C2361.382,115.931 2361.334,115.937 2361.286,115.937C2360.902,116.057 2360.53,116.261 2360.17,116.549C2359.786,116.837 2359.492,117.167 2359.288,117.539C2359.084,117.911 2358.94,118.331 2358.856,118.799C2358.772,119.267 2358.724,119.777 2358.712,120.329C2358.7,120.881 2358.694,121.481 2358.694,122.129L2358.694,129.833C2358.694,130.049 2358.658,130.241 2358.586,130.409C2358.49,130.625 2358.31,130.757 2358.046,130.805C2357.782,130.853 2357.482,130.877 2357.146,130.877L2355.274,130.877C2355.034,130.877 2354.8,130.871 2354.572,130.859C2354.344,130.847 2354.158,130.793 2354.014,130.697C2353.798,130.577 2353.684,130.355 2353.672,130.031C2353.66,129.707 2353.654,129.365 2353.654,129.005L2353.654,113.849C2353.654,113.585 2353.66,113.351 2353.672,113.147C2353.684,112.943 2353.738,112.769 2353.834,112.625C2353.954,112.481 2354.146,112.385 2354.41,112.337L2354.626,112.337C2354.746,112.313 2354.872,112.301 2355.004,112.301L2356.858,112.301C2357.05,112.301 2357.236,112.307 2357.416,112.319C2357.596,112.331 2357.758,112.361 2357.902,112.409C2358.094,112.481 2358.22,112.601 2358.28,112.769C2358.34,112.937 2358.394,113.129 2358.442,113.345C2358.466,113.417 2358.472,113.483 2358.46,113.543C2358.448,113.603 2358.466,113.657 2358.514,113.705C2358.538,113.777 2358.568,113.831 2358.604,113.867C2358.64,113.903 2358.682,113.945 2358.73,113.993C2359.018,114.017 2359.258,113.927 2359.45,113.723C2359.642,113.519 2359.822,113.357 2359.99,113.237C2360.326,112.997 2360.668,112.781 2361.016,112.589C2361.364,112.397 2361.742,112.241 2362.15,112.121C2362.366,112.049 2362.582,112.001 2362.798,111.977C2363.014,111.953 2363.242,111.917 2363.482,111.869C2363.554,111.845 2363.662,111.839 2363.806,111.851C2363.95,111.863 2364.046,111.857 2364.094,111.833Z"
                        style="fill:rgb(255,245,244);fill-rule:nonzero;"></path>
                    <path
                        d="M2403.694,121.409C2403.742,121.601 2403.742,121.817 2403.694,122.057C2403.646,122.297 2403.562,122.453 2403.442,122.525C2403.322,122.621 2403.148,122.687 2402.92,122.723C2402.692,122.759 2402.44,122.783 2402.164,122.795C2401.888,122.807 2401.612,122.807 2401.336,122.795C2401.06,122.783 2400.814,122.777 2400.598,122.777L2391.328,122.777C2391.172,122.777 2391.034,122.801 2390.914,122.849C2390.722,122.945 2390.602,123.041 2390.554,123.137C2390.506,123.185 2390.458,123.275 2390.41,123.407C2390.362,123.539 2390.35,123.665 2390.374,123.785C2390.422,123.929 2390.452,124.067 2390.464,124.199C2390.476,124.331 2390.506,124.469 2390.554,124.613C2390.746,125.189 2390.98,125.663 2391.256,126.035C2391.532,126.407 2391.91,126.737 2392.39,127.025C2392.582,127.145 2392.78,127.223 2392.984,127.259C2393.188,127.295 2393.398,127.349 2393.614,127.421C2393.806,127.469 2394.07,127.505 2394.406,127.529C2394.742,127.553 2395.03,127.541 2395.27,127.493L2395.594,127.493C2395.834,127.445 2396.056,127.391 2396.26,127.331C2396.464,127.271 2396.662,127.205 2396.854,127.133C2397.094,127.013 2397.364,126.857 2397.664,126.665C2397.964,126.473 2398.186,126.281 2398.33,126.089C2398.45,125.921 2398.576,125.759 2398.708,125.603C2398.84,125.447 2399.002,125.333 2399.194,125.261C2399.434,125.141 2399.74,125.087 2400.112,125.099C2400.484,125.111 2400.826,125.117 2401.138,125.117C2401.282,125.117 2401.432,125.111 2401.588,125.099C2401.744,125.087 2401.882,125.105 2402.002,125.153L2402.362,125.153C2402.602,125.201 2402.77,125.261 2402.866,125.333C2402.962,125.381 2403.016,125.489 2403.028,125.657C2403.04,125.825 2403.022,125.969 2402.974,126.089C2402.854,126.425 2402.722,126.725 2402.578,126.989C2402.434,127.253 2402.266,127.517 2402.074,127.781C2401.546,128.573 2400.946,129.209 2400.274,129.689C2399.602,130.169 2398.762,130.577 2397.754,130.913C2397.49,131.009 2397.226,131.069 2396.962,131.093C2396.698,131.117 2396.422,131.165 2396.134,131.237C2396.038,131.261 2395.936,131.267 2395.828,131.255C2395.72,131.243 2395.618,131.249 2395.522,131.273L2395.126,131.273C2395.006,131.321 2394.868,131.339 2394.712,131.327C2394.556,131.315 2394.418,131.297 2394.298,131.273C2394.106,131.249 2393.938,131.249 2393.794,131.273C2393.65,131.297 2393.494,131.285 2393.326,131.237C2393.206,131.189 2393.074,131.165 2392.93,131.165C2392.786,131.165 2392.654,131.141 2392.534,131.093C2392.27,131.045 2392.006,130.991 2391.742,130.931C2391.478,130.871 2391.238,130.781 2391.022,130.661C2390.758,130.565 2390.512,130.475 2390.284,130.391C2390.056,130.307 2389.846,130.205 2389.654,130.085C2388.886,129.605 2388.202,129.047 2387.602,128.411C2387.002,127.775 2386.51,127.037 2386.126,126.197C2386.006,125.933 2385.91,125.663 2385.838,125.387C2385.766,125.111 2385.67,124.829 2385.55,124.541C2385.526,124.445 2385.514,124.355 2385.514,124.271C2385.514,124.187 2385.502,124.097 2385.478,124.001C2385.382,123.713 2385.322,123.401 2385.298,123.065C2385.274,122.729 2385.25,122.393 2385.226,122.057C2385.226,121.937 2385.22,121.805 2385.208,121.661C2385.196,121.517 2385.202,121.385 2385.226,121.265L2385.226,120.833L2385.334,119.969C2385.43,119.561 2385.514,119.165 2385.586,118.781C2385.658,118.397 2385.766,118.037 2385.91,117.701C2386.942,115.205 2388.694,113.441 2391.166,112.409C2391.502,112.265 2391.844,112.163 2392.192,112.103C2392.54,112.043 2392.906,111.965 2393.29,111.869C2393.482,111.845 2393.662,111.833 2393.83,111.833C2393.998,111.833 2394.178,111.821 2394.37,111.797C2395.594,111.773 2396.644,111.911 2397.52,112.211C2398.396,112.511 2399.182,112.901 2399.878,113.381C2400.094,113.525 2400.31,113.687 2400.526,113.867C2400.742,114.047 2400.934,114.233 2401.102,114.425C2401.174,114.545 2401.27,114.641 2401.39,114.713C2401.582,114.977 2401.762,115.247 2401.93,115.523C2402.098,115.799 2402.278,116.081 2402.47,116.369C2402.59,116.585 2402.692,116.807 2402.776,117.035C2402.86,117.263 2402.95,117.509 2403.046,117.773C2403.166,118.085 2403.262,118.409 2403.334,118.745C2403.406,119.081 2403.49,119.417 2403.586,119.753C2403.634,119.945 2403.652,120.155 2403.64,120.383C2403.628,120.611 2403.646,120.821 2403.694,121.013L2403.694,121.409ZM2398.294,119.285C2398.462,119.045 2398.48,118.751 2398.348,118.403C2398.216,118.055 2398.114,117.797 2398.042,117.629C2397.706,116.981 2397.262,116.483 2396.71,116.135C2396.158,115.787 2395.39,115.601 2394.406,115.577C2394.334,115.625 2394.25,115.637 2394.154,115.613C2394.058,115.589 2393.974,115.589 2393.902,115.613C2393.782,115.661 2393.65,115.691 2393.506,115.703C2393.362,115.715 2393.23,115.745 2393.11,115.793C2392.054,116.129 2391.274,116.789 2390.77,117.773C2390.722,117.869 2390.668,117.995 2390.608,118.151C2390.548,118.307 2390.506,118.463 2390.482,118.619C2390.458,118.775 2390.464,118.925 2390.5,119.069C2390.536,119.213 2390.614,119.333 2390.734,119.429C2390.926,119.549 2391.19,119.609 2391.526,119.609L2396.494,119.609C2396.83,119.609 2397.184,119.603 2397.556,119.591C2397.928,119.579 2398.174,119.477 2398.294,119.285Z"
                        style="fill:rgb(255,245,244);fill-rule:nonzero;"></path>
                </g>
                <g
                    class="nu"
                    transform="matrix(1,0,0,1,-2241.362085,10.897947)"
                >
                    <path
                        d="M2379.322,134.833C2380.762,134.785 2381.962,134.989 2382.922,135.445C2383.882,135.901 2384.638,136.573 2385.19,137.461C2385.358,137.725 2385.49,138.007 2385.586,138.307C2385.682,138.607 2385.778,138.913 2385.874,139.225C2385.922,139.417 2385.952,139.597 2385.964,139.765C2385.976,139.933 2386.006,140.101 2386.054,140.269C2386.054,140.413 2386.066,140.509 2386.09,140.557C2386.138,140.893 2386.162,141.241 2386.162,141.601L2386.162,151.681C2386.162,152.137 2386.156,152.575 2386.144,152.995C2386.132,153.415 2385.958,153.685 2385.622,153.805C2385.478,153.853 2385.31,153.877 2385.118,153.877L2382.598,153.877C2382.31,153.877 2382.052,153.859 2381.824,153.823C2381.596,153.787 2381.422,153.685 2381.302,153.517C2381.206,153.373 2381.152,153.187 2381.14,152.959C2381.128,152.731 2381.122,152.485 2381.122,152.221L2381.122,144.337C2381.122,143.449 2381.086,142.627 2381.014,141.871C2380.942,141.115 2380.726,140.473 2380.366,139.945C2380.03,139.465 2379.538,139.129 2378.89,138.937C2378.77,138.889 2378.644,138.865 2378.512,138.865C2378.38,138.865 2378.242,138.841 2378.098,138.793C2377.978,138.769 2377.828,138.763 2377.648,138.775C2377.468,138.787 2377.33,138.805 2377.234,138.829C2377.138,138.853 2377.054,138.865 2376.982,138.865C2376.91,138.865 2376.838,138.877 2376.766,138.901C2376.214,139.045 2375.77,139.237 2375.434,139.477C2374.666,140.029 2374.21,140.833 2374.066,141.889C2373.922,142.945 2373.85,144.133 2373.85,145.453L2373.85,152.797C2373.85,153.013 2373.814,153.193 2373.742,153.337C2373.622,153.601 2373.43,153.757 2373.166,153.805C2372.902,153.853 2372.578,153.877 2372.194,153.877L2370.394,153.877C2370.13,153.877 2369.866,153.865 2369.602,153.841C2369.338,153.817 2369.146,153.733 2369.026,153.589C2368.858,153.373 2368.78,153.061 2368.792,152.653C2368.804,152.245 2368.81,151.861 2368.81,151.501L2368.81,136.849C2368.81,136.585 2368.816,136.345 2368.828,136.129C2368.84,135.913 2368.906,135.733 2369.026,135.589C2369.074,135.517 2369.152,135.463 2369.26,135.427C2369.368,135.391 2369.482,135.361 2369.602,135.337L2369.782,135.337C2369.902,135.313 2370.028,135.301 2370.16,135.301L2372.05,135.301C2372.242,135.301 2372.428,135.307 2372.608,135.319C2372.788,135.331 2372.95,135.361 2373.094,135.409C2373.262,135.481 2373.376,135.589 2373.436,135.733C2373.496,135.877 2373.55,136.045 2373.598,136.237C2373.622,136.333 2373.628,136.417 2373.616,136.489C2373.604,136.561 2373.622,136.633 2373.67,136.705C2373.718,136.825 2373.76,136.897 2373.796,136.921C2373.832,136.945 2373.886,136.981 2373.958,137.029C2374.222,137.053 2374.438,136.963 2374.606,136.759C2374.774,136.555 2374.954,136.393 2375.146,136.273C2375.794,135.793 2376.514,135.409 2377.306,135.121C2377.522,135.049 2377.744,135.001 2377.972,134.977C2378.2,134.953 2378.446,134.917 2378.71,134.869C2378.782,134.845 2378.89,134.839 2379.034,134.851C2379.178,134.863 2379.274,134.857 2379.322,134.833Z"
                        style="fill:rgb(255,245,244);fill-rule:nonzero;"></path>
                    <path
                        d="M2391.058,135.337L2393.758,135.337C2394.022,135.337 2394.262,135.349 2394.478,135.373C2394.694,135.397 2394.85,135.481 2394.946,135.625C2395.066,135.769 2395.138,135.967 2395.162,136.219C2395.186,136.471 2395.198,136.729 2395.198,136.993L2395.198,144.877C2395.198,145.741 2395.234,146.557 2395.306,147.325C2395.378,148.093 2395.594,148.729 2395.954,149.233C2396.29,149.737 2396.83,150.097 2397.574,150.313C2397.694,150.337 2397.796,150.349 2397.88,150.349C2397.964,150.349 2398.066,150.361 2398.186,150.385C2398.306,150.409 2398.438,150.421 2398.582,150.421C2398.726,150.421 2398.834,150.409 2398.906,150.385C2399.026,150.337 2399.128,150.325 2399.212,150.349C2399.296,150.373 2399.386,150.361 2399.482,150.313C2399.986,150.193 2400.382,150.037 2400.67,149.845C2401.102,149.581 2401.444,149.239 2401.696,148.819C2401.948,148.399 2402.128,147.931 2402.236,147.415C2402.344,146.899 2402.41,146.323 2402.434,145.687C2402.458,145.051 2402.47,144.385 2402.47,143.689L2402.47,136.327C2402.47,136.099 2402.518,135.913 2402.614,135.769C2402.734,135.553 2402.914,135.427 2403.154,135.391C2403.394,135.355 2403.682,135.337 2404.018,135.337L2406.61,135.337C2406.826,135.337 2407.006,135.385 2407.15,135.481C2407.342,135.601 2407.45,135.781 2407.474,136.021C2407.498,136.261 2407.51,136.537 2407.51,136.849L2407.51,152.977C2407.51,153.217 2407.462,153.397 2407.366,153.517C2407.246,153.709 2407.066,153.817 2406.826,153.841C2406.586,153.865 2406.334,153.877 2406.07,153.877L2404.126,153.877C2403.862,153.877 2403.628,153.865 2403.424,153.841C2403.22,153.817 2403.058,153.721 2402.938,153.553C2402.89,153.481 2402.848,153.373 2402.812,153.229C2402.776,153.085 2402.74,152.941 2402.704,152.797C2402.668,152.653 2402.626,152.521 2402.578,152.401C2402.53,152.281 2402.458,152.209 2402.362,152.185C2402.314,152.137 2402.254,152.125 2402.182,152.149C2402.11,152.173 2402.05,152.197 2402.002,152.221C2401.834,152.317 2401.69,152.425 2401.57,152.545C2401.45,152.665 2401.318,152.773 2401.174,152.869C2401.078,152.941 2400.988,153.019 2400.904,153.103C2400.82,153.187 2400.718,153.265 2400.598,153.337C2400.046,153.673 2399.398,153.937 2398.654,154.129C2398.486,154.177 2398.318,154.207 2398.15,154.219C2397.982,154.231 2397.802,154.261 2397.61,154.309C2397.514,154.333 2397.412,154.339 2397.304,154.327C2397.196,154.315 2397.094,154.321 2396.998,154.345C2396.926,154.369 2396.776,154.375 2396.548,154.363C2396.32,154.351 2396.17,154.333 2396.098,154.309C2395.978,154.309 2395.858,154.303 2395.738,154.291C2395.618,154.279 2395.498,154.273 2395.378,154.273C2395.09,154.201 2394.814,154.141 2394.55,154.093C2394.286,154.045 2394.022,153.973 2393.758,153.877C2393.638,153.829 2393.536,153.787 2393.452,153.751C2393.368,153.715 2393.266,153.673 2393.146,153.625C2392.306,153.169 2391.634,152.533 2391.13,151.717C2390.818,151.213 2390.59,150.607 2390.446,149.899C2390.302,149.191 2390.212,148.435 2390.176,147.631C2390.14,146.827 2390.128,145.999 2390.14,145.147C2390.152,144.295 2390.158,143.449 2390.158,142.609L2390.158,137.713C2390.158,137.401 2390.152,137.035 2390.14,136.615C2390.128,136.195 2390.182,135.889 2390.302,135.697C2390.374,135.577 2390.518,135.469 2390.734,135.373C2390.878,135.373 2390.986,135.361 2391.058,135.337Z"
                        style="fill:rgb(255,245,244);fill-rule:nonzero;"></path>
                </g>
            </svg>
        </div>

        <script type="text/javascript" >
            const m = document.querySelector(".menu");
            const c = document.querySelector(".close");
            const mb = document.querySelector(".menu-bg");
            m.addEventListener("click", () => {
                m.classList.add("menu-open");
                m.querySelector('.me').style.opacity = "0"
                m.querySelector('.nu').style.opacity = "0"
                c.classList.add("opened");
                const stars = [...document.querySelectorAll('.li h1')]
                setTimeout(() => {
                    mb.style.display = "block"
                    setTimeout(() => {
                        stars.forEach((star) => {
                            const length = star.children[0].offsetWidth
                            const top = star.children[0].offsetTop
                            star.children[1].style.left = (length - 50) + "px"
                            star.children[1].style.top = (top - 30) + "px"
                        })
                    }, 200)
                }, 200)
            });


            c.addEventListener("click", () => {
                m.classList.remove("menu-open");
                c.classList.remove("opened");
                setTimeout(() => {
                    mb.style.display = "none"
                },100)
                setTimeout(() => {
                    m.querySelector('.me').style.opacity = "1"
                m.querySelector('.nu').style.opacity = "1"
                }, 330)

            });
        </script>